/* reset */
html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
div,
dl,
dt,
dd,
ul,
ol,
li,
p,
blockquote,
pre,
hr,
figure,
table,
caption,
th,
td,
form,
fieldset,
legend,
input,
button,
textarea,
menu {
  margin: 0;
  padding: 0;
}
header,
footer,
section,
article,
aside,
nav,
hgroup,
address,
figure,
figcaption,
menu,
details {
  display: block;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
caption,
th {
  text-align: left;
  font-weight: normal;
}
html,
body,
fieldset,
img,
iframe,
abbr {
  border: 0;
}
i,
cite,
em,
var,
address,
dfn {
  font-style: normal;
}
[hidefocus],
summary {
  outline: 0;
}
li {
  list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
small {
  font-size: 100%;
}
sup,
sub {
  font-size: 83%;
}
pre,
code,
kbd,
samp {
  font-family: inherit;
}
q:before,
q:after {
  content: none;
}
textarea {
  overflow: auto;
  resize: none;
}
label,
summary {
  cursor: default;
}
a,
button {
  cursor: pointer;
}
body,
textarea,
input,
button,
select,
keygen,
legend {
  outline: 0;
}
body {
  background: #fff;
  font-size: 12px;
  font-family: "微软雅黑", Arial, "宋体", Tahoma, sans-serif;
}
a,
a:hover {
  color: inherit;
  text-decoration: none;
}
html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  /* Firefox */
  -webkit-box-sizing: border-box;
  /* Safari */
  -o-box-sizing: content-box;
  /*Opera9.6*/
  box-sizing: border-box;
}
input,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  -webkit-appearance: textfield;
  background-color: white;
  -webkit-rtl-ordering: logical;
  user-select: text;
  cursor: auto;
}
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
}
button[disabled],
input[disabled] {
  cursor: default;
}
img {
  image-rendering: optimizeQuality;
  -ms-interpolation-mode: bicubic;
}
lable {
  cursor: pointer;
}
/**
 * function
 * 常用方法定义
 */
.fl {
  float: left;
}
.fr {
  float: right;
}
.tac {
  text-align: center;
}
.tal {
  text-align: left;
}
.vat {
  vertical-align: top;
}
.vam {
  vertical-align: middle;
}
.clear-fix:after {
  content: '';
  display: block;
  height: 0;
  visibility: hidden;
  clear: both;
}
.clear-fix {
  zoom: 1;
  clear: both;
}
.hide {
  display: none;
}
.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  white-space: nowrap;
}
.inline-block {
  display: inline-block;
  *display: inline;
  zoom: 1;
}
.ime-disabled {
  -webkit-ime-mode: disabled;
  ime-mode: disabled;
}
/*common*/
body {
  overflow-x: hidden;
}
.page-wrap {
  width: 100%;
  /*max-width: 6.4rem;*/
  margin: 0 auto;
  color: #333333;
}
.header {
  width: 100%;
  max-width: 6.4rem;
  margin: 0 auto;
  height: .9rem;
  padding: .1rem .2rem 0 .2rem;
}
.header img.logo {
  display: block;
  width: 2.07rem;
  height: .52rem;
  float: left;
}
.header .hotline {
  display: block;
  float: right;
  line-height: .52rem;
  color: #26306c;
  font-size: .16rem;
}
.header .hotline i {
  display: inline-block;
  vertical-align: middle;
  width: .15rem;
  height: .17rem;
}
.nav {
  width: 6rem;
  margin: 0 auto;
  margin-bottom: .15rem;
}
.nav ul {
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.nav ul li {
  position: relative;
  display: block;
  text-align: center;
  color: #ffffff;
  background-color: #212b66;
  border-radius: .05rem;
  margin-bottom: .1rem;
}
.nav ul li a {
  display: block;
  width: 1.3rem;
  font-size: 12px;
  line-height: 34px;
}
.banner {
  max-width: 6.4rem;
  margin: 0 auto;
}
.banner img {
  display: block;
  width: 100%;
}
.section {
  width: 100%;
  max-width: 6.4rem;
  margin: 0 auto;
  margin-top: .4rem;
  padding: 0 .2rem;
  font-size: .12rem;
}
.section.intro .content {
  font-size: .18rem;
  line-height: .36rem;
  margin-top: .25rem;
  border-bottom: 1px solid #e2e2e2;
  padding-bottom: .15rem;
}
.section.intro .content p {
  text-indent: .36rem;
}
.section .content {
  margin-top: .25rem;
}
.section ul.contact-intro li {
  font-size: .18rem;
  height: .4rem;
  line-height: .4rem;
}
.section ul.contact-intro li i {
  display: inline-block;
  vertical-align: middle;
  width: .26rem;
  height: .26rem;
  margin-right: .15rem;
}
.section .title {
  color: #212b66;
  font-size: .26rem;
  line-height: .26rem;
  text-align: center;
}
.section .title span {
  font-size: .22rem;
  /*font-weight: normal;*/
  vertical-align: top;
}
.section .title .en {
  color: #5d615e;
  font-size: .18rem;
  line-height: .18rem;
  margin-top: .1rem;
}
.section .more {
  display: block;
  margin: 0 auto;
  margin-top: .25rem;
  line-height: .44rem;
  width: 1.7rem;
  background: #ff7200;
  background: -webkit-linear-gradient(#f9941e, #ff7200);
  background: -o-linear-gradient(#f9941e, #ff7200);
  background: -moz-linear-gradient(#f9941e, #ff7200);
  background: linear-gradient(#f9941e, #ff7200);
  font-size: .18rem;
  color: #ffffff;
  border-radius: .22rem;
  text-align: center;
}
.section .more i {
  width: .16rem;
  height: .16rem;
  vertical-align: middle;
  margin-left: .05rem;
}
.footer {
  width: 100%;
  background-color: #262626;
  color: #cccccc;
  margin-top: .4rem;
  font-size: .18rem;
  line-height: .7rem;
  text-align: center;
}
.fix-bar {
  position: fixed;
  background-color: #232c60;
  border-radius: 5px;
  right: 1px;
  top: 50%;
  margin-top: -0.9rem;
  z-index: 999;
}
.fix-bar a {
  display: block;
  position: relative;
  width: .77rem;
  color: #ffffff;
  font-size: .13rem;
  padding: .1rem 0;
  border-bottom: 1px solid #2e303f;
  text-align: center;
}
.fix-bar a span {
  display: block;
  width: 100%;
}
.fix-bar a:last-child {
  padding: .3rem 0;
  border-bottom: 0px solid #2e303f;
}
.fix-bar a i {
  display: block;
  margin: 0 auto;
}
/*自选班型*/
.customized-courses {
  background: url(../images/index/customized-courses-bg.jpg);
  background-size: 6.4rem;
  height: 5.2rem ;
  padding-top: .25rem;
}
.customized-courses .lb_gl {
  margin-top: .3rem;
}
